.ui-header h1.ui-title { font-size: 150%; }

.content p, .question-choices {
   font-size: 150%;
   text-align: center;
}

.error {
   color: red;
}

/* Modifications to the jQuery Mobile controls */
.ui-btn-inner {
   padding: 1em 40px;
}
.ui-controlgroup-horizontal .ui-radio {
   margin-right: 10px;
}
.ui-radio input {
   display: none;
}

.ui-footer .ui-btn-text {
   font-size: 150%;
   padding: 10px;
}

.ui-footer {
   text-align: center;
}

.ui-footer .ui-btn {
   margin: 20px;
}